/* .content-container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 1140px;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
} */

.content-conteiner__step_two {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 760px;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
}

.content-container__step-three {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 760px;
  padding: 60px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
}

.content-container__step-four {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  padding: 60px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
  margin-top: 20px;
}

.avatar-main__container {
  display: flex;
  width: 700px;
  height: 306px;
  padding: 10px 0px 10px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #f8f8f8;
  justify-content: center;
}

.avatar-select__container {
  display: flex;
  width: 220px;
  padding: 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.height-label,
.name-label,
.mail-label,
.password-label {
  margin-right: auto;
}

.name-label__text,
.mail-label__text,
.password-label__text {
  color: #292d32;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-input__container,
.mail-input__container,
.password-input__container {
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 15px;
  background: #f8f8f8;
}

.name-input__text,
.mail-input__text {
  width: 1028px;
  height: 16px;
  color: #50565c;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.eye-slash__button,
.eye__button {
  border: none;
  background-color: #f8f8f8;
}

.choosed-pic__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9abff;
  stroke-width: 2px;
  stroke: #292d32;
  width: 165px;
  height: 165px;
  border-style: solid;
  border-radius: 100px;
}

.user-name {
  color: #292d32;
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sex-font {
  color: #8eaf0c;
  text-align: center;
  font-family: Ubuntu;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vl {
  border-left: 1px solid #292d32;
  height: 287px;
  border-radius: 5px;
}

.avatar-container__select {
  display: flex;
  padding: 5px 0px 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
}

.avatar-textarea {
  align-self: stretch;
  color: #292d32;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.color-textarea {
  align-self: stretch;
  color: #292d32;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.avatar-select__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  transition: 0.2s;
  background-color: #f8f8f8;
}

.avatar-btn:hover {
  background-color: rgb(216, 216, 216);
  opacity: 70%;
}

.avatar-btn:active {
  border: #292d32;
}

.color-btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button__color {
  border: none;
  background-color: transparent;
}

.div-color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.div-color:hover {
  opacity: 70%;
}

.div-color:active {
  border: #292d32;
}

/* password form */
#login-form input[type="password"],
#login-form input[type="text"] {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.password-container {
  width: 680px;
  height: 16px;
  color: #50565c;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
}

.fa-eye {
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: black;
}

.fa-eye-slash {
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: black;
}

/* 
.name-input__container,
.mail-input__container,
.password-input__container {
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 15px;
  background: #f8f8f8;
} */

/* 
.name-input__text,
.mail-input__text {
  width: 1028px;
  height: 16px;
  color: #50565c;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  outline: none;
  border: none;
} */

.c-container__base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 306px;
  padding: 10px 0px 10px 10px;
  gap: 10px;
  border-radius: 15px;
  background: #f8f8f8;
  margin: 0 auto;
}

.c-container__one {
  display: flex;
  width: 220px;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.c-container__two {
  display: flex;
  padding: 5px 0px 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
}

.avatar-btn__container_one {
  display: flex;
  padding: 5px 0px 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
}

.avatar-main__container_one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.type-data {
  margin: 0 auto;
}

.type-data__text {
  color: #292d32;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
